@import 'transition';

$aca-pink: #d83754;

body {
  margin: 0;
  background-color: $aca-pink;
  background-image: url(../img/aca.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include transition(opacity, 1.6s, ease);
}

#setup {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include transition(opacity, 0.8s, ease);

  input {
    width: 100%;
    font-size: 1.8em;
    border: none;
    color: #fff;
    background-color: transparent;
    text-rendering: optimizeLegibility;
    text-align: center;
  }

  input::placeholder {
    color: #fff;
    opacity: 0.5;
  }

  input:hover, input:focus, input:active {
    outline:none;
  }

}

.hidden {
  opacity: 0;
}
