@font-face {
  font-family: 'Segoe UI Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/segoe-ui-light.woff') format('woff');
}

$aca-pink: #d83754;
$aca-dark-grey: #414858;
$aca-font-stack: 'Segoe UI Light', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$input-text: #fff;

body {
  background-attachment: fixed;
  background-color: $aca-dark-grey;
  background-image: url('../img/aca.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 12vh;
  font-family: $aca-font-stack;
  margin: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1.6s ease;
}

.setup {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .8s ease;

  input {
    position: absolute;
    width: 100%;
    font-size: 3vw;
    border: 0;
    color: $input-text;
    background-color: transparent;
    text-align: center;
    font-family: $aca-font-stack;
    text-rendering: optimizeLegibility;
    transition: .35s ease;

    &:focus {
      margin-top: -1.2em;
    }

    &::placeholder {
      color: $input-text;
      opacity: .5;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

  }

}

.hidden {
  opacity: 0;
}
