@import 'transition';

body {
  margin: 0;
  background: #000000;
}

webview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include transition(opacity, 5s, ease);
}

form {
  @include transition(opacity, 1.4s, ease);
}

.hidden {
  opacity: 0;
  display: none;
}
