<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fixate</title>
  </head>
  <body>
    <webview id="wrapper" class="hidden"></webview>
    <form id="settings" class="hidden">
      <input name="url" type="url" required placeholder="Binding address">
      <input type="submit" value="Go">
    </form>
  </body>
</html>
